.card {
    background: #fff;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile-name {
    font-weight: 500;
    font-size: 36px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 4%;
}

.email-icon {
    font-size: 18px;
    cursor: pointer;
}