body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #f8f8f8;
}

.justify-text {
    text-align: justify;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: darkcyan;
    text-decoration: none;
}

a:hover {
    color: #005e5e;
}

.section-title {
    text-align: left;
    margin: 20px 0;
}

.org-title {
    text-align: left !important;
    margin: 8px 0;
    font-size: 18px;
    font-weight: 500;
}

.text-left {
    text-align: left !important;
}

.pl-1 {
    padding-left: 15px !important;
}

.word-break {
    word-break: break-word;
}

td {
    vertical-align: top;
    padding: 3px 0;
    min-width: 100px;
}

li {
    list-style: none;
}

b {
    font-weight: 500;
}

.text-small {
    font-size: 15px;
}